.calc {
  margin-top: 75px;
}

.center {
  justify-content: center;
  display: flex;
}

.btn-center {
  margin-top: 15px;
  justify-content: center;
  display: flex;
}

.btn-space {
  margin-left: 10px;
}

.lbl-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.input-spacing {
  margin-top: 10px;
}
